Flask==3.0.3
Flask-SQLAlchemy==3.1.1
gunicorn==25.0.1

aiohttp
aiosignal
attrs
frozenlist
multidict
propcache
yarl

google
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-speech
google-cloud-texttospeech
google-ai-generativelanguage
google-generativeai
googleapis-common-protos
proto-plus

httpcore
httpx
h11
httplib2
idna

Jinja2
itsdangerous
MarkupSafe
Mako

numpy
packaging
pillow
psutil

pyasn1
pyasn1_modules
pyparsing
python-dateutil

pydantic
pydantic_core

openai

pySmartDL
PyPrind

Js2Py
pyjsparser

plyer

# Windows only packages
pywin32; platform_system=="Windows"
pypiwin32; platform_system=="Windows"
PyAutoGUI; platform_system=="Windows"
MouseInfo; platform_system=="Windows"
PyGetWindow; platform_system=="Windows"
PyRect; platform_system=="Windows"
PyMsgBox; platform_system=="Windows"
PyScreeze; platform_system=="Windows"
pyperclip; platform_system=="Windows"
pytweening; platform_system=="Windows"
