body{
font-family:Arial;
margin:30px;
}

#chat{
border:2px solid gray;
height:200px;
overflow:auto;
padding:10px;
margin-bottom:10px;
}

.accessibility{
font-size:28px;
background:black;
color:white;
}